<form method="POST" enctype="multipart/form-data" action="{{ admin_url }}">
	<input type="hidden" name="action" value="{{ action }}">
	<input type="hidden" name="page_id" value="{{ page_id }}">
	<input type="hidden" name="all_translated" value="{{ is_all_translated ? 1 : 0 }}">
	<button type="submit" class="btn btn--primary">{{ label }}</button>
</form>
